@import "tailwindcss";

@theme {
   --color-primary-600: oklab(18.1% -0.002 -0.016);
   --color-primary-500: oklab(36.1% -0.056 0.006);
   --color-primary-400: oklab(45% -0.096 0.035);
   --color-primary-300: oklab(76.3% -0.107 0.127);
   --color-secondary: oklab(62% 0.051 0.122);
   --color-error: oklab(55% 0.116 0.054);
}
